body{
    margin: 0px;
    padding: 0px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
}

/* Navbar */

.hamburger{
    
    color: #9B3708;
}

.navbar-toggler-icon{
    size: 5px;
    background: white;
}

.logo{
    border: 3px solid #9B3708;
    border-radius: 50%;
}

/* Index */
.facility{
    padding-top: 5rem;
    margin-bottom: 2rem;
}

/*Home*/
.container-fluid{
    padding-top: 10px;
}

/* .home-main{
    border: 2px #9B3708 solid;
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
} */

.header{
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.header-txt{
    font-size: 28px;
    font-family: 'Cinzel',serif;
    color: #9B3708;
}

.intro p{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 26px;
    padding-bottom: 1rem;
}

.intro-video{
    padding-bottom: 1rem;
}

.vision, .mission{
    border: 2px solid #9B3708;
    border-radius: 20px;
    padding: 3rem;
}

.vision-header, .mission-header{
    display: flex;
    justify-content: center;
    font-family: 'Cinzel',serif;
    color: #9B3708;
}

.header-subtxt{
    font-size: 26px;
}

.vision-body, .mission-body{
    font-size: 20px;
    text-align: center;
    font-family: 'Lumanosimo', cursive;
}

.vision{
    margin-top: 2rem;
    background-color: #0CE0F5   ;
}

.mission{
    margin-bottom: 2rem;
    background-color: #0CE0F5  ;
}

/*About*/
.director{
    display: flex;
    justify-content: center;
}

.director-img, .pupil-img{
    border: 2px solid #9B3708;
    border-radius: 100px 100px 100px 100px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.pupils{
    display: flex;
    justify-content: center;
}

.about-text{
    padding-bottom: 5rem;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 26px;
}

.about-text p{
    font-size: 20px;
    margin-bottom: 1rem;
    text-align: center;
}

/* Activities */
.heading{
    display: flex;
    justify-content: center;
    font-family: 'Lumanosimo', cursive;
    font-size: 26px;
    color: #9B3708;
    margin-top: 30px;
}

.activity{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.act-vid{
    border: 3px solid #0CE0F5;
    border-radius: 50px;
    background-color: black;
}

.activity-txt{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 26px;
}

/* ADMISSION */
.admission-txt{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    text-align: center;
}

.span{
    color: #9B3708;
}

.response{
    color: #9B3708;
}

.admission-frm{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
}

.sub-header{
    display: flex;
    justify-content: center;
}

.sub-headertxt{
    text-decoration: underline;
    color: #9B3708;
    font-size: 24px;
}

.button{
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
}

/* Contacts */
.contact-text{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 26px;
}

.contact-form{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 22px;
}

/*Footer*/
.footer{
    background: #0CE0F5;
}

.convenient-links{
    display: flex;
    justify-content: center;
    justify-self: center;
}

.convenient-links p{
    font-family: 'Cinzel',serif;
    font-size: 20px;
}

.convenience{
    display: flex;
    justify-content: center;
    justify-items: center;
}

ul a{
    text-decoration: none;
}

.footer-lnk, .footer-cont{
    list-style: none;
    padding-bottom: 10px;
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
    color: #9B3708;
}

.footer-lnk:hover{
    color: black;
    background-color: white;
    border: 2px solid #9B3708;
    border-radius: 10px;
    text-align: center;
}

.footer-close{
    display: flex;
    justify-content: center;
    font-family: 'Josefin Sans', sans-serif;
    color: #9B3708;
}